/* Home */
*
{   
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body
{
    position: relative;
}

html
{
    scroll-behavior: smooth;
}

div.container
{
    width: 80%;
    margin-inline: auto;
}
div.home
{
    width: 100%;
    height: 100%;
    background-image: url('./RealLifeBakery/images/drew-coffman-1872.jpg');
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

div.home div.layer
{
    background-color: rgba(0, 0, 0, 0.502);
    height: 100vh;
    overflow: auto;
}

.clear
{
    clear: both;
}

/* Navbar */



div.navbar
{
    padding: 15px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    height: 80px;
    background-color: rgba(142, 119, 84, 0.91);
}
div.navbar div.logo
{
    width: 176.5px;
    height: 48px;
    float: left;
}
div.navbar div.logo img
{
    width: 100%;
    height: 100%;
}

div.navbar div.links
{
    padding-top:18px;
    float: right;
}

div.navbar div.links a
{
    text-decoration: none;
    color: white;
}

div.navbar div.links ul
{
    list-style: none;
}

div.navbar div.links li
{
    font-family: "Alegreya", serif;
    float: left;
    margin-inline: 15px;
    font-size: 21px;
}

div.navbar div.links a:hover
{
    color: rgb(142,119,84);
}

div.home  a
{
    color: white;
    text-decoration: none;
}

div.home div.container div.cont div.welcome
{
    margin-inline: auto;
}

div.home div.container div.welcome
{
    width: 700px;
    height: 341px;
    padding-top: 300px;
    text-align: center;
    color: white;
}

div.home div.container div.welcome h1
{
    font-family: "Alegreya", serif;
    margin-block: 22px;
    font-size: 76px;
}
div.home div.container div.welcome #p1
{
    margin-bottom: 50px;
    font-size: 24px;
}

div.home div.container div.welcome p
{
    font-family: "Alegreya Sans", sans-serif;
    font-size: 22px;
    
}

div.home div.container div.cont div.welcome a
{
    font-family: "Alegreya Sans", sans-serif;
    font-size: 16px;
    padding: 15px 28px ;
    border: 1.6px solid;
    border-radius: 8px;
    margin-inline: 7px;
    height: 55.3px;
    display: inline-block;
}

div.home div.container div.cont div.welcome a#learn
{
    border-color: rgb(142,119,84);
    background-color: rgb(142,119,84);
}

div.home div.container div.cont div.welcome a#learn:hover
{
    background-color: aliceblue;
    color: black;
}

div.home div.container div.cont div.welcome a.contact:hover
{
    background-color: white;
    color: black;
}

div.home div.container div.cont div.welcome div.touch
{
    border: 1.6px solid white;
    border-radius: 30px;
    width: 20px;
    height: 40px;
    margin-inline: auto;
    margin-block: 50px;
}

div.home div.container div.cont div.welcome div.touch div.circle
{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.666);
    border-radius: 50%;
    margin-top: 3px;
}
