/* Home */
*
{   
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body
{
    position: relative;
}

html
{
    scroll-behavior: smooth;
}

div.container
{
    width: 80%;
    margin-inline: auto;
}
div.home
{
    width: 100%;
    height: 100%;
    background-image: url('./RealLifeBakery/images/drew-coffman-1872.jpg');
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

div.home div.layer
{
    background-color: rgba(0, 0, 0, 0.502);
    height: 100vh;
    overflow: auto;
}

.clear
{
    clear: both;
}

/* Navbar */



div.navbar
{
    padding: 15px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    height: 80px;
    background-color: rgba(142, 119, 84, 0.91);
}
div.navbar div.logo
{
    width: 176.5px;
    height: 48px;
    float: left;
}
div.navbar div.logo img
{
    width: 100%;
    height: 100%;
}

div.navbar div.links
{
    padding-top:18px;
    float: right;
}

div.navbar div.links a
{
    text-decoration: none;
    color: white;
}

div.navbar div.links ul
{
    list-style: none;
}

div.navbar div.links li
{
    font-family: "Alegreya", serif;
    float: left;
    margin-inline: 15px;
    font-size: 21px;
}

div.navbar div.links a:hover
{
    color: rgb(142,119,84);
}

div.home  a
{
    color: white;
    text-decoration: none;
}

div.home div.container div.cont div.welcome
{
    margin-inline: auto;
}

div.home div.container div.welcome
{
    width: 700px;
    height: 341px;
    padding-top: 300px;
    text-align: center;
    color: white;
}

div.home div.container div.welcome h1
{
    font-family: "Alegreya", serif;
    margin-block: 22px;
    font-size: 76px;
}
div.home div.container div.welcome #p1
{
    margin-bottom: 50px;
    font-size: 24px;
}

div.home div.container div.welcome p
{
    font-family: "Alegreya Sans", sans-serif;
    font-size: 22px;
    
}

div.home div.container div.cont div.welcome a
{
    font-family: "Alegreya Sans", sans-serif;
    font-size: 16px;
    padding: 15px 28px ;
    border: 1.6px solid;
    border-radius: 8px;
    margin-inline: 7px;
    height: 55.3px;
    display: inline-block;
}

div.home div.container div.cont div.welcome a#learn
{
    border-color: rgb(142,119,84);
    background-color: rgb(142,119,84);
}

div.home div.container div.cont div.welcome a#learn:hover
{
    background-color: aliceblue;
    color: black;
}

div.home div.container div.cont div.welcome a.contact:hover
{
    background-color: white;
    color: black;
}

div.home div.container div.cont div.welcome div.touch
{
    border: 1.6px solid white;
    border-radius: 30px;
    width: 20px;
    height: 40px;
    margin-inline: auto;
    margin-block: 50px;
}

div.home div.container div.cont div.welcome div.touch div.circle
{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.666);
    border-radius: 50%;
    margin-top: 3px;
}
/* Under Home */

div.who-we-are
{
    margin-block:90px ;
}

div.who-we-are div.container div.left-side
{
    width:45% ;
    float: left;
    margin-right: 5%;
}
div.who-we-are div.container div.left-side img
{
    width:100% ;
}
div.who-we-are div.container div.right-side
{
    margin-left:5% ;
    width:45% ;
    float: right;
}

div.who-we-are div.container div.right-side .li
{
    width: 90%;
    margin-bottom: 15px;
    margin-top: 15px;
    float: left;
}

div.who-we-are div.container div.right-side ul
{
    list-style: none;
    margin-top: 50px;
}
div.who-we-are div.container div.right-side img
{
    border: .8px solid rgba(142, 119, 84, 0.499);
    border-radius: 50%;
    width: 42px;
    height: 42px;
    margin-right: 10px;
    float: left;
    margin-top: 10px;
}
div.who-we-are div.container div.right-side p
{
    font-family: "Alegreya Sans", sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: rgb(104, 104, 104);
    margin-block: 20px;
    line-height: 32px;
}
div.who-we-are div.container div.right-side span
{
    font-family: "Alegreya Sans", sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: rgb(104, 104, 104);
    line-height: 32px;
}
div.who-we-are div.container div.right-side h2
{
    margin-top: 30px;
    font-family: "Alegreya", serif;
    font-size: 32px;
    font-weight: 400;
    color: rgb(48, 48, 48);
}




/* Location */
div.location
{
    background-color:rgb(248,248,248);
}
div.location div.container
{
    padding-block: 80px;
}
div.location div.container div.right-side 
{
    width: 45%;
    float: right;
    margin-left: 5%;
}

div.location div.container div.right-side img
{
    width: 100%;
}
div.location div.container div.left-side 
{
    width: 50%;
    float: left;
    margin-top: 70px;
}

div.location div.container div.left-side h2
{
    font-family: "Alegreya", serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 44px;
    color: rgb(48, 48, 48);
    margin-block: 25px;

}

div.location div.container div.left-side p
{
    font-family: "Alegreya Sans", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 32px;
    color: rgb(104, 104, 104);
    margin-block: 20px;
}


/* Our baking */

div.our-baking div.container div.top 
{
    text-align: center;
    margin-top: 90px;
}
div.our-baking div.container div.top h2
{
    font-family: "Alegreya", serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 41px;
    color: rgb(48, 48, 48);
    margin-bottom: 20px;
}
div.our-baking div.container div.top p
{
    font-family: "Alegreya Sans", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 32px;
    color:rgb(136, 136, 136);
}

div.our-baking div.container div.bottom 
{
    margin-block: 60px;
    text-align: center;
}

div.our-baking div.container div.bottom .slide
{
    width: 31%;
    float: left;
}

div.our-baking div.container div.bottom  img
{
    width: 100%;
}

div.our-baking div.container div.bottom .slide h3
{
    margin-block: 25px;
    font-family: "Alegreya", serif;
    font-size: 22px;
    font-weight: 400px;
    line-height: 30px;
    color: rgb(48, 48, 48);

}

div.our-baking div.container div.bottom .slide p
{
    margin-block: 25px;
    font-family: "Alegreya", serif;
    font-size: 17px;
    font-weight: 400px;
    line-height: 32px;
    color:rgb(104, 104, 104);

}

div.our-baking div.container div.bottom #slide2
{
    margin-inline: 3%;
}

/* Contact */

div.contact
{
    background-color:rgb(248,248,248) ;
}

div.contact div.container
{
    padding-block: 90px;
}

div.contact div.container div.left-side h2
{
    font-family: "Alegreya", serif;
    font-size: 32px;
    font-weight: 400px;
    line-height: 44px;
    color:rgb(48, 48, 48);
    margin-block: 25px;

}
div.contact div.container div.left-side
{
    width: 50%;
    float:left ;
}

div.contact div.container div.right-side
{
    width: 45%;
    margin-left:5%;
    float:left ;
}
div.contact div.container div.left-side p
{
    margin-block: 25px;
    font-family: "Alegreya", serif;
    font-size: 17px;
    font-weight: 400px;
    line-height: 32px;
    color:rgb(104, 104, 104)
}
div.contact div.container div.left-side img
{
    width: 36px;
    height: 36px;
    float: left;
    background-color: rgb(143,120,84);
    border-radius: 50%;
}
div.contact div.container div.left-side ul
{
    list-style: none;
}

div.contact div.container div.left-side li
{
    margin-top: 30px;
}
div.contact div.container div.left-side span
{
    float: left;
    margin-left: 10px;
    font-family: "Alegreya", serif;
    font-size: 17px;
    font-weight: 400px;
    line-height: 32px;
    color:rgb(104, 104, 104)
}
div.contact div.container div.right-side 
{
    margin-top: 90px;
}




/* Footer */

div.footer
{
    height: 100vh;
}

div.footer div.background-top
{
    background-color:rgb(64,61,56) ;
    height: 50vh;
}

div.footer div.background-bottom
{
    background-color: rgb(53,51,48);
    height: 50vh;
}

div.footer div.background-bottom  img.facebook:hover
{
    background-color: rgba(0, 0, 255, 0.557);
}
div.footer div.background-bottom  img.google:hover
{
    background-color:rgb(222, 24, 24) ;
}
div.footer div.background-bottom  img.linkedin:hover
{
    background-color:lightblue ;
}
div.footer div.background-bottom  img.twitter:hover
{
    background-color: rgba(0, 0, 0, 0.292) ;
}
div.footer div.content-top
{
    width: 80%;
    margin-inline: auto;
}
div.footer div.content-bottom
{
    width: 80%;
    text-align: center;
    margin-left: 130px;
    padding-block: 80px;
}
div.footer div.content-bottom p
{
    color: white;
    margin-block: 20px;
}
div.footer div.content-bottom img
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
div.footer div.content-bottom img#don
{
    width: auto;
    height: auto;
    border-radius: 0;
}

div.footer div.background-top div.content-top img
{
    width: 14px;
    height: 16px;
    float: left;
}
div.footer div.background-top div.content-top img.im
{
    width: 30px;
    height: 30px;
    float: left;
}

div.footer div.background-top div.content-top ul
{
    list-style: none;
}

div.footer div.background-top div.content-top span

{
    float: left;
}

div.footer div.background-top div.content-top div.about
{
    float: left;
    width: 24%;
    margin-right: 1%;
}
div.footer div.background-top div.content-top div.why-we-are-special
{
    float: left;
    width: 24%;
    margin-right: 1%;
}
div.footer div.background-top div.content-top div.opening-hours
{
    float: left;
    width: 24%;
    margin-right: 1%;
}
div.footer div.background-top div.content-top div.contact-details
{
    float: left;
    width: 24%;
    margin-right: 1%;
}

div.footer div.background-top div.content-top .about h4,.why-we-are-special h4,.opening-hours h4,.contact-details h4 
{
    font-family: "Alegreya", serif;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    color: white;
    margin-top:25px ;
    margin-bottom:15px ;
}
div.footer div.background-top div.content-top .about span,.why-we-are-special span,.opening-hours span,.contact-details span 
{
    font-family: "Alegreya Sans", sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: rgb(150, 150, 150);
}

div.footer div.background-top div.content-top li
{
    margin-block: 15px;
    border-bottom: .1px rgba(143, 120, 84, 0.067) solid;
}
div.footer div.background-top div.content-top li.noline
{
    border: none;
}